default_stages: [pre-commit]
repos:
  # #【必须】保障团队提交方式符合 BKBase 的规范和安全要求
  # - repo: https://git.woa.com/bkdata/pre-commit.git
  #   rev: master
  #   hooks:
  #     - id: bkbase-rtx
  #     - id: bkbase-ip
  #     #- id: bkbase-commitmsg
  #       stages: [commit-msg]
  #【必须】通过匹配conflict string，检查是否存在没有解决冲突的代码
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-merge-conflict
  #【必须】根据 .flake8 给出的配置检查 Python 代码风格，检测代码是否符合符合 PEP8 规范
  - repo: https://github.com/pycqa/flake8
    rev: '6.1.0'
    hooks:
      - id: flake8
        args: [ "--max-line-length=120", "--ignore=E203,W503,W504" ]
        exclude: ^generators/common/prompts\.py$
  #【可选】提升 Python 代码风格，符合更高版本的 Python 语法
  #- repo: https://github.com/asottile/pyupgrade
  #  rev: v2.18.3
  #  hooks:
  #    - id: pyupgrade
  #【可选】自动调整 python 代码文件内的 import 顺序
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black", "--line-length", "120" ]
  #【可选】Black 是一个官方的 Python 代码格式化工具，腾讯代码规范推荐使用
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
        args: [ "--line-length=120" ]
  # #【可选】Pylint 是一个官方的 Python 代码格式化工具，腾讯代码规范推荐使用
  # - repo: https://github.com/pylint-dev/pylint
  #   rev: v2.13.9
  #   hooks:
  #     - id: pylint
  #       language_version: python3
  #       args: [
  #         "--disable=all",
  #         "--enable=bad-indentation,bad-whitespace,bare-except,broad-except,dangerous-default-value,function-redefined,invalid-name,len-as-condition,line-too-long,misplaced-future,missing-final-newline,mixed-indentation,mixed-line-endings,multiple-imports,multiple-statements,singleton-comparison,trailing-comma-tuple,trailing-newlines,trailing-whitespace,unexpected-line-ending-format-tosa,unused-import,unused-variable,wildcard-import,wrong-import-order",
  #         "--max-line-length=120",
  #         "--good-names=TDW_PL"
  #       ]yam
